.box{
width:400px;
height:350px; 
background-color: lightgrey; 
margin-left:750px;
margin-top:150px; 
padding:10px;
text-align:center;
line-height:15px;

}

.button{
    height: 40px;
    width: 260px;
    background-color: limegreen;
    cursor: pointer;
    border:none;
    margin-top: 15px;
    
}

.input1{

}

.text{
    padding: 1px;
    margin-top: 120px;
}